<div class="contenedor">
  <img class="fotito" src="https://i.ibb.co/C7wJwRP/Fondo-2.png" alt="Fondo-2" width="1817" height="840">
  <div class="texto-encima text-white">
    <p class="col-lg-12 col-md-9 col-sm-6 col-xs-6"><br>Cody es un Bot kakakakakakcreado por alumnos de la Universidad de<br>
		Tarapacá con el objetivo de ayudar a la comunidad a resolver <br> todas sus dudas existentes respecto al COVID-19</p>
		<br><br>
		<p class="col-lg-12 col-md-12 col-sm-6 col-xs-6">Habla con Cody para enterarte de los síntomas más comunes <br> que provoca el COVID-19.</p>
		<br><br>
		<p class="col-lg-12 col-md-12 col-sm-6 col-xs-6">También puedes realizar un TEST rápido respondiendo <br> siete preguntas que te realizara Cody.</p>
		<br><br><br><br>
		<div class="aviso text-center col-lg-12 col-md-12 col-sm-12 col-xs-10"><br><p class="col-lg-12 col-md-12 col-sm-8 col-xs-7">IMPORTANTE: Este diagnostico no reemplaza la opinión de un profesional medico.</p></div>
    <br>


  </div>


</div>

<!-- <a href="https://ibb.co/tsHZHVL"><img src="https://i.ibb.co/C7wJwRP/Fondo-2.png" alt="Fondo-2" border="0"></a>





<!--
<div class="parrafo1 text-center text-white">
	<br>
	<div class="">
		<p class="text-center" agn="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus}
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
	</p>
	</div>

<br>

  <div class="parrafo2 row">
		<div class="col sm-1">
		</div>
    <div class="col-sm-6 text-white text-center"><p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis vel libero sit amet ultrices. Integer tincidunt rutrum nunc, ut euismod sem tincidunt vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
			</p>
    </div>
		<div class="col sm-1">
		</div>
    <div class="col-sm-5">
    	<a href=""><img src="https://i.ibb.co/mSH2k9H/chatbot-y-humano.png" alt="chatbot-y-humano"></a>

    </div>
  </div>

</div>
-->
